.plan-items-alerts-top{
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  // color: $black;
  padding-bottom: 60px;
}

// .plan-items-alerts-card-top-element{
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   color: $black;
// }


.plan-items-alerts-container {
  background: $red;
  color: black;
  padding: 20px 20px;
  margin-top: 50px;
  border-radius: 25px 25px 0 0;
  height: 100%;
  max-width: 100%;
}

.plan-items-alerts-card-tickbox {
  // border: 3px solid rgb(182, 192, 195);
  // background-color: rgb(129, 138, 141);
  position: absolute;
  transform: scale(0);
  margin-left: 10px;
  // &:checked {
  //   accent-color: $gray;
  // }
}

.plan-items-alerts-card-tickbox + label {
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  border-radius: 50rem;
  padding: 0.2rem 0.6rem;
  background-color: white;
  color: #0E121A;
  border: 1px solid white;
  margin-right: 0.6rem;
  margin-bottom: 0.6rem;
}

.plan-items-alerts-card-tickbox:checked + label {
  background-color: #0E121A;
  color: white;
  border: 1px solid black;
}

.plan-items-alerts-card-top-element {
  display: flex;

}

.plan-items-alerts-card {
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // justify-content: space-between;
  background-color: #f8f9fa;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;

  border-radius: 10px; /* overrules rounded (6px) */
  align-items: center;

  color: rgba(0, 0, 0, 0.5);
}

.plan-items-alerts-first-column {
  flex: 1;
  flex-basis: 20%;
  vertical-align: middle;
  margin-right: 20px;
  padding-left: 15px;
}

.plan-items-alerts-second-column {
  flex: 4;
  // width: 66.6667%;
  flex-basis: 75%;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 40px;
  // margin: 0;
  text-decoration: none;
}

.plan-items-alerts-third-col {
  flex: 0 0 auto;
  width: 25%;
}

.plan-items-alert-card-second-column-deadlines {
  font-size: smaller;
  font-style: italic;
}

.custom-button {
  font-size: 25px;
  //font-weight: bold;
  padding: 10px 20px;
  position: absolute;
  right: 20px;
  top: 60px;

}

.disabled {
  border: none;
  pointer-events: none;
  opacity: 0.5;
}

.entretiens {
  display: flex;
  justify-content: center;
}

.nomaintenance {
  height:500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;

  p {
    margin-bottom: 10px;
    font-style: italic;
    font-size: 19px;
    font-weight: lighter;

  }

  .btn {
    border-radius: 5px;
  }
}

.maintenance{
  p {
    font-size: 16px;
    font-weight: lighter;
    margin-top: 25px;
    margin-bottom: 10px;
  }
}
