<h1>index des stop items (a supprimer)</h1>

<lu>
<%@item_by_stops.each do |item|%>
<li>
  stop id : <%=item.stop_id%> - plan item : <%=item.plan_item_id%> - price : <%item.item_cost%>
</li>
<%end%>
</lu>
