<h1>Stops#index</h1>
<p>Find me in app/views/stops/index.html.erb</p>

<h1>this is stop index</h1>

<ul>
  <% @stop.each do |stop| %>
    <li>
      <%=stop.date%> - <%=stop.garage%> - <%=stop.cost%>
      <%= link_to "Plus de détails", car_stop_path(stop.car_id, stop.id) %>
    </li>
  <% end %>
</ul>
