<% if notice %>
  <div class="alert alert-info alert-dismissible fade show m-1" role="alert">
    <%= image_tag('flag.svg') %>
    <div class="text-white text-center"><%= notice %></div>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
    <%= image_tag('flag.svg') %>
    <%= alert %>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>
