<h1> Coucou from plan items  show</h1>

<p>
Opération : <%=@plan_item.name%> pour <%=@car.full_name%>
</p>
<p>
A faire tous les : <%=@plan_item.to_do_every_x_km%> km
</p>

<p>
A faire tous les : <%=@plan_item.to_do_every_x_years%> ans
</p>

TABLEAU DE L HSITORIQUE DES ITEMS
