.alert {
  // position: fixed;
  // bottom: 16px;
  // right: 16px;
  // z-index: 1000;

  position: fixed;
  bottom: 50%;
  right: 50%;
  transform: translateX(50%);
  background-color: black;
  z-index: 1000;
  width: 231px;
  height: 270px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  margin: 0;
  border-radius: .8rem;
  opacity: 0.8;
}

.alert img {
  transform: rotate(30deg);
  width: 150px;
  margin-top: 10px;
  margin-left: 10px;
}

.alert .btn-close {
  --bs-btn-close-opacity: 1;
}
