
.back-arrow-btn {
  position: absolute;
  top: 20px;
  left: 0;
}

.back-arrow-btn img {
  width: 80px;
  height: auto;
}

.add-btn {
  position: absolute;
  margin-top: 15px;
  top: 20px;
  right: 20px;
}

.dashboard {
  background: #0E121A;
  padding: 50px 20px 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  // position: relative;
}

h2 {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 15px;
}

.container-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-weight: bold;
}

.container {
  flex-grow: 1;  // Pushes the navbar to the bottom
}

.car-list-index {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  list-style: none;
  justify-content: center;
}

.car-card-index {
  background-color: white;
  color: black;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.car-card-index img {
  max-width: 100%;
  border-radius: 25px 25px 0px 0px;

.car-infos p {
  width: 100%;
  font-weight: bold;
  text-align: left;
  margin-top: 10px;
  }
}

#make-model {
  width: 100%;
  font-weight: bold;
  text-align: left;
  margin-top: 10px;
}

.dashboard-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  max-width: 390px;
  padding: 0;
  background: white;
  border-radius: 20px;
  position: fixed;
  bottom: 20px; // Stick to bottom
  left: 50%;
  transform: translateX(-50%);
}

.navbar-item {
  padding: 10px;
  font-size: 22px;
}

.navbar-item img {
  width: 35px;
  height: auto;
}

// Responsive design

@media (max-width: 390px) {
  .dashboard-navbar {
    max-width: 100%;
    bottom: 30px;
  }
}
