.back-arrow-btn {
  position: absolute;
  top: 20px;
  left: 0;
}

.back-arrow-btn img {
  width: 80px;
  height: auto;
}

.car-title {
  margin-top: 25px;
  font-size: 26px;
}

.car-image {
  max-height: 160px;
  margin-bottom: 20px;
}

.dashboard {
  background: #0E121A;
  padding: 200px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  position: relative;
}

.buttons-grid {
  height: auto;
  gap: 20px;
  margin-bottom: 60px;
  margin-top: 30px;
  width: 100%;
  max-width: 350px;
  position: relative;
}

.two-items-per-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.dashboard-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 18px;
  border-radius: 16px;
  font-weight: bold;
  font-size: 22px;
  width: 70%;
  height: 100px;
  text-align: center;
}

.dashboard-item-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 18px;
  border-radius: 16px;
  font-weight: bold;
  font-size: 22px;
  width: 130%;
  height: 100px;
  text-align: center;
}

.dashboard-item img,
.dashboard-item-1 img {
  width: 45px;
  height: auto;
}

.yellow { background-color: #F7C846; color: black; }
.white { background-color: #ffffff; color: black; }
.red { background-color: #FC574E; color: black; }
.green { background-color: #8AE98D; color: black; }


.dashboard-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  max-width: 350px;
  padding: 0;
  background: white;
  border-radius: 20px;
  position: fixed;
  bottom: 20px; // Stick to bottom
  left: 50%;
  transform: translateX(-50%);
}

.navbar-item {
  padding: 10px;
  font-size: 30px;
}

.navbar-item img {
  width: 35px;
  height: auto;
}


// Responsive design

@media (max-width: 390px) {
  .dashboard-grid {
    max-width: 100%;
  }

  .dashboard-navbar {
    max-width: 100%;
    bottom: 30px;
  }
}
