

ul {
  list-style-type: none; /* Supprime les bullets points */
  padding-left: 0; /* Supprime le padding gauche */
  margin: 0; /* Ajuste la marge si nécessaire */
}

.nomvoiturecarstop {
  background-color: $white;
  color:  #FC574E;
}
