<h1>this is cars index</h1>

<ul>
  <% @cars.each do |car| %>
    <li>
      <%=car.make%> - <%=car.model%> - <%=car.mileage%>
    </li>
  <% end %>
</ul>

<%= link_to "Déclarer une nouvelle voiture", new_car_path %>
