<h1>this is cars index</h1>

<ul>
  <% @cars.each do |car| %>
    <li>
      <% if car.photo.attached? %>
        <%= cl_image_tag car.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
        <p>No Image Available</p>
        <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "Déclarer une nouvelle voiture", new_car_path %>
